.popup {

    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color:  ;
    background-color: rgba(0, 0, 0, 0.5);
    display:flex;
    justify-content: center;
    align-items: center;

}

.popup-inner{
    position: relative;
    width: 40vw;
    height: 24vh;
    border-radius: 8px;
    padding: 2rem;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
}

