.App {
  text-align: center;
  background-color: #EE204D;
}

.page_header{
  color: white;
  font-size: 3rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
}

.page_text {

}

.page_mini_text {

}

.page_mini_header {
  
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
