.applicants_page {
    
    display:flex;
    justify-content: space-between;
    
    
}

.applicants_info {
    display:flex;
    flex-direction: column;
    
    width:100vw;
    align-items: center;
    padding:4rem;
}

.filter_bar {
    z-index:2;
    display: flex;
    background-color: lightgray;
    height:8vh;
    justify-content: center;
    width:100%;
    padding: 0rem 2rem;
    position: relative;
   

}

.bar_content {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;

}

.bar_content_filters, .bar_content_icons {
    display:flex;
    align-items: center;
    gap:1.5rem;
}

.board {
    display: grid;
    justify-content: center;
    z-index:0;
    grid-template-columns: repeat(auto-fit, minmax(20vw, 0fr));
    gap:4vw;
    row-gap: 10vh;
    padding: 4rem 0rem;
    width:100%;
  
  
}

.bar_content_icons button {
    white-space: nowrap;
}




.column {
    background: lightgray;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll; 
    gap: 0.8rem;
    min-width: 350px;
    padding-bottom:2rem;
}

.column_title {
    display:flex;
    width:80%;
    align-items: center;
    gap:1rem;
    justify-content: space-between;
   
}
.column_title div {
    display:flex;
    align-items: center;
    gap:1rem;
}


.applicants {
    display: flex;
    flex-direction: column;
    width:80%;
    gap: 1.5rem;
    align-items: center;
}

.card {

    background-color: white;
    border-radius: 4px;
    height: 10vh;
    width:100%;   
    display:flex;
    justify-content: center;
   
}
.card_content {
    width:80%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.icons {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.icons span {

    border-radius: 8px;
    padding:4px;
}
.rejected {
    background-color: red;
}

.approved {
background-color: green;
}

.under-analysis {
background-color: yellow;
}
.card:hover {
    cursor: pointer;
    
}


@media screen and (max-width:1600px) {


    .board {
      grid-template-columns: repeat(2, minmax(20vw, 0fr));
      column-gap: 8vw;
      justify-content: space-between;
      
      row-gap: 5vh;;    
    }

    .applicants_info {
        align-items: flex-start;
        padding: 1rem 2rem;
        width:60%;
    }

    .filter_bar {
        z-index:2;
        display: flex;

        height: 16vh;
        justify-content: flex-start;
        
        padding: 0rem 2rem;
       
       
    
    }


    .bar_content {
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap:2rem;
        
    }
    
  }